.main{
    background-color: #e7e5e5;
    height: 100vh;
}
.tenantCard{
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}
.inputField{
    width: 100%;
    border-radius: 4px;
    border: 0.1px solid grey;
    padding: 5px;
    outline: none;
    margin-top: 10px;
}
.primaryBtn{
    background-color: #3fb5d3;
    border-color: #308fa7;
}
.primaryBtn:hover{
    background-color: #3fb5d3;
    border-color: #308fa7;
}
.secondaryBtn{
    background-color: white;
    color: #3fb5d3;
    border-color: #3fb5d3;
}
.breadCrumb{
    font-size: smaller;
    color: grey;
}